<div class="registration-container">
    <div class="Header">
        <h1>File Uploading System</h1>
        <p>NoSQL M165 made by Tharun and Luca</p>
    </div>

    <form class="registration-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <label>
        Benutzername:
        <input type="text" formControlName="username">
        </label>
    
        <label>
        Passwort:
        <input type="password" formControlName="password">
        </label>
    
        <label>
        Passwort bestätigen:
        <input type="password" formControlName="confirmPassword">
        </label>
    
        <button type="submit">Registrieren</button>
        <button type="button" (click)="OnBackToLogin()" >Back to Login</button>
    </form>
</div>
